GOOGLE_SEARCH_API_KEY=your_google_api_key           # Google Search API key (Generate from: https://cse.google.com/cse/all)
SEARCH_ENGINE_ID=your_search_engine_id              # Search engine ID (Generate from: Copy ID after creating engine)
LANGCHAIN_GROK_API_KEY=your_llm_api_key            # Langchain Grok API key (Generate from: https://console.groq.com/)
HUGGINGFACE_LOGIN_API_KEY=your_huggingface_api_key  # Huggingface Logging API key (Generate from: https://huggingface.co/)